<!doctype html>
<html lang="zh">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>帝丰物流信息管理系统</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="../vendor/angularjs/angular.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body ng-app="driversApp" ng-controller="driversController">

    <div id="wrapper">
		<div ng-include="'menu.html'"></div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">驾驶员管理</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			
			
			
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">新建驾驶员</h4>
                                        </div>
                                        <div class="modal-body">
			
			
                            <div class="row">
                                <form role="form">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>姓名</label>
                                            <input class="form-control" placeholder="输入姓名" ng-model="driver.name">
                                        </div>
                                        <div class="form-group">
                                            <label>手机号</label>
                                            <input class="form-control" placeholder="输入手机号" ng-model="driver.mobile">
                                        </div>
                                        <div class="form-group">
                                            <label>车辆类型</label>
                                            <div class="radio">
                                                <label class="radio-inline">
                                                    <input type="radio" ng-model="driver.driverType" ng-value="1" checked>自有车辆
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" ng-model="driver.driverType" ng-value="2">外协车辆
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>车牌号</label>
                                            <input class="form-control" placeholder="输入车牌号" ng-model="driver.plateNumber">
                                        </div>
                                        <div class="form-group">
                                            <label>微信号</label>
                                            <input class="form-control" placeholder="输入微信号" ng-model="driver.wechatName">
                                        </div>
                                    </div>
                                </form>
                            </div>
							
                                        </div>
                                        <div class="modal-footer">
											<button class="btn btn-primary" ng-click="createDriver()" data-dismiss="modal">创建</button>
											<button class="btn btn-default" data-dismiss="modal">关闭</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->
			
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-truck fa-fw"></i> 所有驾驶员列表
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li>
                                        <a href="#" ng-click="newDriver()">
                                            <i class="fa fa-truck fa-fw"></i> 新建驾驶员
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>手机号</th>
                                        <th>车牌号</th>
                                        <th>微信号</th>
                                        <th>车辆类型</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="gradeX" ng-repeat="x in drivers">
                                        <td>{{x.name}}</td>
                                        <td>{{x.mobile}}</td>
                                        <td>{{x.plateNumber}}</td>
                                        <td>{{x.wechatName}}</td>
                                        <td>{{x.driverType | toLabel:enumDriverTypes}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
	var app = angular.module('driversApp', []);
	app.filter('toLabel', function() {
		return function(x, entries) {
			var i, len, e;
			len = entries.length;
			for (i = 0; i < len; ++i) {
				e = entries[i];
				if (e.value == x) {
					return e.label;
				}
			}
			return "???";
		};
	});
	app.controller('driversController', function($scope, $http) {
		$('#myModal').on('hidden.bs.modal', function (e) {
			$scope._reset();
		});

		$http.get("../rest/mgmt/drivers")
			.then(function (response){
				$scope.drivers = response.data;
			});

		$scope.enumDriverTypes = [
			{value: 1, label: "自有车辆"},
			{value: 2, label: "外协车辆"}
		];
		$scope.createDriver = function() {
			$http.post("../rest/mgmt/drivers", $scope.driver)
			.then(function (response){
				$scope.drivers.push(response.data);
			});
		};
		$scope.deleteDriver = function(x) {
			// TODO: Post data to server
			var i, len, driver;
			len = $scope.drivers.length;
			for (i = 0; i < len; ++i) {
				driver = $scope.drivers[i];
				if (driver.deliveryId == x) {
					$scope.drivers.splice(i, 1);
					break;
				}
			}
		};
		$scope.newDriver = function() {
			$('#myModal').modal('toggle');
		};
		$scope._reset = function() {
			$scope.driver = {
				driverId: 0,
				name: "",
				mobile: "",
				plateNumber: "",
				wechatName: "",
				driverType: 1
			};
		};
		$scope._reset();
	});
	function openSearchPage() {
		var keyword = $('#searchKeyword').val();
		window.location.href = "search.html?keyword=" + keyword;
	}
    </script>
  </body>
</html>